<link rel="stylesheet" href="/static/main.css" type="text/css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUCCESS</title>
</head>
<body>

    <div class="success-page">
        <div class="form">
            <p>{{user.username}}, you are now logged in! Unfortunately, your privileges
            restrict what you can do here. At this time, you can either admire this page,
            log out, or just go do something else. Thanks for coming!</p>
            <a href="/"><button type="button">home</button></a>
            <br/><br/>
            <a href="logout"><button class="logout" type="button">logout</button></a>
        </div>
    </div>

</body>
</html>